body {
  margin: 0;
  width: 100vw;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

:root {
  --font1: "Poppins", system-ui;
  --font2: "Press Start 2P", system-ui;
}

#main {
  max-width: 100vw;
  height: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#todoInput {
  font-size: 2vw;
  font-family: var(--font2);
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 1vw;
  padding: 2vw;
  outline: none;
  width: 70%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  box-shadow: 0 0 1vw 1vw rgba(187, 185, 185, 0.118);
}
#todoInput::placeholder {
  font-family: var(--font2);
  font-size: 2vw;
  color:rgb(187, 185, 185);
}
#inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 2vw;
  width: 100%;
  margin: 4vw 8vw;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#addButton {
  font-size: 2vw;
  font-family: var(--font2);
  border: none;
  border-radius: 1vw;
  padding: 2vw;
  outline: none;
  color: white;
  background-color: rgb(17, 148, 204);
  cursor: pointer;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#todoList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1vw;
  width: 100vw;
  padding: 1vw;
  margin: 4vw 8vw;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#todoItem {
  font-family: var(--font1);
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 82%;
  border-radius: 1vw;
  padding: 0.5vw 2vw;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  color:white;
}

.fa-pen-to-square
{
  color: white;
  cursor: pointer;
}

.fa-trash
{
  color: white;
  cursor: pointer;
}

.actionsContainer
{
  display: flex;
  gap: 1vw;
}